.chat-list {
  min-width: 360px;
  width: 360px;
  padding: 0px;
  height: 100vh;
  background: #ffffff;
  box-shadow: inset -1px 0px 0px rgba(32, 31, 30, 0.12);
  box-sizing: border-box;
  overflow-y: scroll;

  &__header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 4px;
    box-shadow: inset -1px 0px 0px rgba(32, 31, 30, 0.12);
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #201f1e;
    margin: 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
